.moviesCardList__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    gap: 24px;
    padding-bottom:  30px;
    margin-left: 70px;
    margin-right: 70px;
}

@media screen and (max-width: 1279px) {
    .moviesCardList__grid-container{
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    }
}

@media screen and (max-width: 841px) {
    .moviesCardList__grid-container{
        margin-left: 30px;
        margin-right: 30px;
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .moviesCardList__grid-container{
        margin-left: 10px;
        margin-right: 10px;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.moviesCardList__button-more {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 80px;
    height: 36px;
    background-color: #2F2F2F;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    .moviesCardList__button-more{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 500px) {
    .moviesCardList__button-more{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.moviesCardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}