.profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__greeting {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 74px;
}

@media screen and (max-width: 768px) {
    .profile__greeting{
        margin-top: 236px;
    }
}

@media screen and (max-width: 320px) {
    .profile__greeting{
        margin-top: 70px;
    }
}

.profile__box-profile-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 123px;
    width: 410px;
}

@media screen and (max-width: 420px) {
    .profile__box-profile-info{
        margin-top: 80px;
        width: 260px;
    }
}

.profile__profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 14px;
    margin: 0;
    margin-top: 17px;
}

.profile__info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0;
}

.profile__input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #202020;
    border: none;
    outline: none;
    text-align: end;
}

.profile__line {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #424242;
    margin: 0;
    margin-top: 16px;
}

.profile__button-edit {
    margin: 0;
    max-width: 410px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 220px;
    padding: 0;
    border: 0;
    background-color: #202020;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.profile__button-edit:disabled {
    color: #EE3465;
}


@media screen and (max-width: 768px) {
    .profile__button-edit{
        margin-top: 210px;
    }
}

@media screen and (max-width: 320px) {
    .profile__button-edit{
        margin-top: 379px;
        width: 300px;
    }
}

.profile__link-exit {
    margin: 0;
    max-width: 410px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    padding: 0;
    border: 0;
    background-color: #202020;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .profile__button-exit{
        width: 300px;
    }
}

.profile__error {
    color: #EE3465;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.profile__success {
    color: chartreuse;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}