.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-right: 70px;
    margin-left: 70px;
    padding-top: 80px;
    padding-bottom: 94px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8B8B8B;
    position: relative;
}

@media screen and (max-width: 768px) {
    .searchForm{
        flex-direction: column;
        margin-right: 30px;
        margin-left: 30px;
        padding-bottom: 68px;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .searchForm{
        padding-bottom: 55px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.searchForm__box {
    display: flex;
    flex-direction: row;
    height: 48px;
    border: 1.5px solid  #AAAAAA;
    border-radius: 24px;
    width: 100%;
    margin-right: 41px;
    position: relative;
}

.searchForm__box:hover {
    border: 1.5px solid  #3DDC84;
}

@media screen and (max-width: 320px) {
    .searchForm__box{
        margin: 0px;
    }
}

.searchForm__input {
    background-color: #202020;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 22px;
    border-radius: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8B8B8B;

}

.searchForm__input:focus {
    background-color: #2F2F2F;
}

.searchForm__search-button {
    border-radius: 48px;
    width: 80px;
    height: 34px;
    border: none;
    outline: none;
    background-color: #4285F4;
    background-image: url(../../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.searchForm__line {
    margin: 0;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #424242;
    position: absolute;
    bottom: 10px;
}