.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header__logo {
    width: 38px;
    height: 38px;
    margin-left: 70px;
    margin-top: 18px;
    margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
    .main-header__logo{
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px) {
    .main-header__logo{
        margin-left: 14px;
    }
}

.main-header__text{
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .main-header__text{
        margin-right: 30px;
    }
}

@media screen and (max-width: 400px) {
    .main-header__text{
        margin-right: 14px;
    }
}

.main-header__registration {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    margin-right: 30px;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .main-header__registration{
        margin-right: 14px;
        font-size: 10px;
        line-height: 16px;
    }
}

.main-header__enter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    width: 76px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #3DDC84;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width:400px) {
    .main-header__enter{
        width: 54px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
    }
}